.logo {
    position: relative;
    display: inline-block;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*sizes*/
.s {
    width: 90px;
    height: 20px;
}

.m {
    width: 130px;
    height: 30px;
}

.l {
    width: 205px;
    height: 48px;
}

/*sizes //end*/