.header {
    padding: 20px 0;
    background-color: var(--white);
    position: sticky;
    left: 0;
    top: 0;
    z-index: var(--z-index-menu);

    border-bottom: 1px solid #ebebeb;
}

.header-content {

}

@media screen and (min-width: 1200px) {
    .header {
        padding: 25px 0;
        box-shadow: 11px 0 17px rgba(102, 132, 191, 0.14);
    }


    .header-content {
        display: grid;
        grid-template-columns: fit-content(100%) 1fr  220px;
        grid-column-gap: 70px;
        align-items: center;
    }
}